<%- include("partials/header") %>

<body>
  <section id="navigation-bar">
    <!-- Navbar Section -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="">QReduce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>

  </section>
  <br>
  <h1>Doctors near by me</h1>
  <br>
  <div class="container-fluid dashboard-section">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/generalPhysician.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">General physician</h5>
            <p class="card-text">Find the right family doctor in your neighbourhood</p>
            <a href="/book-appointment/general-physician" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/dentist.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dentist</h5>
            <p class="card-text">Teeth troubles? Schedule a dental checkup</p>
            <a href="/book-appointment/dentist" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/gynecologist.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gynecologist/Obstetrician</h5>
            <p class="card-text">Explore for women's health, pregnancy and infertility treatments</p>
            <a href="/book-appointment/gynecologist" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/dietitian.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dietitian/Nutrition</h5>
            <p class="card-text">Get guidence on eating right, weight management and sports nutrition</p>
            <a href="/book-appointment/dietitian" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/physiotherapist.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Physiotherapist</h5>
            <p class="card-text">Pulled a muscle? Get it treated by a trained physiotherapist</p>
            <a href="/book-appointment/physiotherapist" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/general-surgeon.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">General surgeon</h5>
            <p class="card-text">Need to get operated? Find a right surgeon</p>
            <a href="/book-appointment/general-surgeon" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/orthopedist.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Orthopedist</h5>
            <p class="card-text">For Bone and Joints issues, spinal injuries and more</p>
            <a href="/book-appointment/orthopedist" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/pediatrician.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pediatrician</h5>
            <p class="card-text">Child Specialists and Doctors for Infant</p>
            <a href="/book-appointment/pediatrician" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="images/gastroenterologist.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gastroenterologist</h5>
            <p class="card-text">Explore for issues related to digestive system, liver and pancreas</p>
            <a href="/book-appointment/gastroenterologist" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</body>

<%- include("partials/footer") %>
