<%- include("partials/header") %>

<body>
  <div class="row">
    <div class="col col-lg-4 login-section-text">
      <div class="login-section-labels">
        <h1><a class="text-white" href="">QReduce</a></h1>
        <br><br>
        <h2 class="text-white">Don't have a QReduce<br>account yet?</h2>
        <br>
        <button type="button" class="btn btn-outline-light btn-lg">Create</button>
      </div>
    </div>
    <div class="col login-section-main">
      <h2>Log in to<br>QReduce as Doctor</h2>
      <br>
      <form action="/login" method="post">
        <div class="form-group">
          <input type="email" class="form-control form-control-lg text-center" aria-describedby="emailHelp" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="password" class="form-control form-control-lg text-center" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-xl">Log In</button>
      </form>
      <br>
      <a href="/login"><u>Login as user</u></a>
    </div>
  </div>
</body>

<%- include("partials/footer") %>
