<%- include('partials/header') %>

<body>
  <section id="navigation-bar">
    <!-- Navbar Section -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="">QReduce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#footer">Register as Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Register as patient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cta">Sign-Up for Free</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cta">Login</a>
          </li>
        </ul>
      </div>
    </nav>

  </section>

  <section id="top">
    <h1>QReduce Helps You</h1>
    <h2>To Save Your Precious Time</h2>
    <h5>Get notified when your appointment is ready with your doctor</h5>

    <div class="row top-image">
      <div class="col">
        <img src="images/bookAppointment.png" alt="">
        <h4>Book Appointment from Anywhere</h4>
        <button id="btn-book-appointment" class="btn btn-primary top-btn" type="button" name="button">Get Details</button>
      </div>
      <div class="col">
        <img src="images/appointmentTime.png" alt="">
        <h4>Know the Time of Your Appointment</h4>
        <button id="btn-appointment-time" class="btn btn-primary top-btn" type="button" name="button">Get Details</button>
      </div>
      <div class="col">
        <img src="images/detailedReport.png" alt="">
        <h4>Save the Complete Detailed Report</h4>
        <button id="btn-complete-details" class="btn btn-primary top-btn" type="button" name="button">Get Details</button>
      </div>
    </div>
    <h6>What are you waiting for?</h6>
  </section>

  <hr>

  <section id="why-qreduce">
    <h1>Why QReduce?</h1>
    <h3>An inch of time is an inch of gold. But you can not buy that inch of<br>time with an inch of gold</h3>
    <h6>Book doctor appointment and save an inch of time</h6>
  </section>

  <hr>

  <section id="middle">
    <div id="book-appointment" class="row middle-row">
      <div class="col mid-section-table-r">
        <table>
          <div class="row">
            <div class="col">
              <h2>Book Appointment</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>from Anywhere</h3>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>The Genesis Framework and StudioPress Themes<br>work seamlessly with the new WordPress editor.</h5>
            </div>
          </div>
        </table>
      </div>
      <div class="col">
        <img src="images/bookAppointmentMid.png" alt="">
      </div>
    </div>
    <div id="appointment-time" class="row middle-row">
      <div class="col">
        <img src="images/appointmentTimeMid.png" alt="">
      </div>
      <div class="col mid-section-table-l">
        <table>
          <div class="row">
            <div class="col">
              <h2>Know the Time</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>of Your Appointment</h3>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>The Genesis Framework and StudioPress Themes<br>work seamlessly with the new WordPress editor.</h5>
            </div>
          </div>
        </table>
      </div>
      <div id="detailed-report" class="row middle-row">
        <div class="col mid-section-table-r">
          <table>
            <div class="row">
              <div class="col">
                <h2>Save the</h2>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3>Complete Detailed Report</h3>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h5>The Genesis Framework and StudioPress Themes work seamlessly with the new WordPress editor.</h5>
              </div>
            </div>
          </table>
        </div>
        <div class="col">
          <img src="images/detailedReportMid.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="footer">

  </section>
</body>

<%- include('partials/footer') %>
