<%- include("partials/header") %>

<body>
  <div class="register-section">
    <h1>Join QReduce</h1>
    <br>
    <form action="/login" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Current Address</label>
        <input type="text" class="form-control" name="currentAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Permanent Address</label>
        <input type="text" class="form-control" name="permanentAddress" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input type="text" class="form-control" name="city">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control" name="state">
            <option selected>Choose...</option>
            <option value="karnataka">Karnataka</option>
            <option value="chennai">Chennai</option>
            <option value="mumbai">Mumbai</option>
            <option value="hydrabad">Hydrabad</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Zip</label>
          <input type="text" class="form-control" name="zip">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
    </form>
  </div>
</body>

<%- include("partials/footer") %>
