/* Home Styling */

body{
  text-align: center;
}

h5, h6 {
  font-weight: 500;
  color: #0066CC;
}

#top {
  margin: 50px 0 150px 0;
  padding: 0 10% 0 10%;
}

#middle {
  padding: 0 5% 0 5%;
}

#why-qreduce {
  margin: 100px 0 200px 0;
}

.navbar-brand {
  margin-left: 3%;
}

.navbar-collapse {
  margin-right: 3%;
}

.top-image {
  margin: 50px 0;
}

.top-btn {
  margin-top: 20px;
}

.middle-row {
  margin: 50px 0 70px;
}

.mid-section-table-r {
  text-align: left;
  position: relative;
  left: 20px;
  top: 300px;
}

.mid-section-table-l {
  text-align: left;
  position: relative;
  right: 20px;
  top: 300px;
}

/* Login Styling */

.login-section-text {
  width: 30vh;
  height: 100vh;
  background-color: #0056ac; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top right, #0056ac, #60c1d5); /* Standard syntax (must be last) */
}

.login-section-main {
  width: 30vh;
  height: 100vh;
  position: relative;
  top: 200px;
  padding: 0 5% 0 5%;
}

.login-section-labels {
  position: relative;
  top: 200px;
}

.btn-xl {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
}

/* Register Styling */

.register-section {
  padding: 5% 10%;
}

/* Dashboard Styling */

.dashboard-section {
  padding: 0 5% 0 10%;
}
